[Unit]
Description=LogicMonitor Collector Service (Primary)
After=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop --time="60" logicmonitor-collector-01
ExecStartPre=-/usr/bin/docker rm logicmonitor-collector-01
ExecStartPre=/usr/bin/docker pull logicmonitor-collector:latest
ExecStart=/usr/bin/docker \
  run \
  --cpu-shares=2048 \
  --env="TZ=America/New_York" \
  --env="company=<your-company>" \
  --env="username=<your-username>" \
  --env="password=<your-password>" \
  --env="description=LogicMonitor Collector (Primary)" \
  --env="cleanup=true" \
  --hostname="logicmonitor-collector-01" \
  --memory="1g" \
  --name="logicmonitor-collector-01" \
  logicmonitor-collector:latest
Slice=logicmonitor-collector.slice
Nice=0
IOSchedulingClass=best-effort
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
